<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnStringBdTrans" connectionString="Server=localhost\SQLEXPRESS;Database=opiniones_de_clientesDB;Trusted_Connection=True;TrustServerCertificate=True;"/>
		<add name="ConnStringBdAnalit" connectionString="Server=localhost\SQLEXPRESS;Database=AnaliticalDbElectiva1;Trusted_Connection=True;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>